
var fs = require('fs');

exports.config = {
    tpl: 'ecl_demo',
    //注意，wise相关的query暂不支持中文匹配，中文query模板将不出
    querys: [
        '手机', 
        {
            query: '智能手机',
            data: 'data.json'
        }
    ],
    side: 'left',
    platform: ['ipad', 'pc'],
    // platform: 'ipad',
    //wise相关
    //platform: ['iphone', 'utouch', 'big'],
    //platform: 'iphone',
    ajaxs: [
        {
            url: '/ur/submit/urreward',
            handler: function() {
                return fs.readFileSync(__dirname + '/data.json');
            }
        },
        {
            url: /^\/url.*$/,
            file: 'data/data.json'
        },
        {
            url: /^\/ecomui.*$/,
            handler: function(context) {
                (proxy('www.baidu.com', 80))(context);
            }
        }
    ],
    watch: {
        filters: [
            '_page.tpl',
            '*.less'
        ],
        events: [
            'addedFiles',
            'modifiedFiles'
        ]
    }
};


