
var fs = require('fs');

exports.config = {
    tpl: 'ecl_demo',
    querys: [
        '手机', 
        {
            query: '智能手机',
            data: 'data.json'
        }
    ],
    side: 'left',
    platform: ['ipad', 'pc'],
    // platform: 'ipad',
    ajaxs: [
        {
            url: '/ur/submit/urreward',
            handler: function() {
                return fs.readFileSync(__dirname + '/data.json');
            }
        },
        {
            url: /^\/url.*$/,
            file: 'data/data.json'
        },
        {
            url: /^\/ecomui.*$/,
            handler: function(context) {
                (proxy('www.baidu.com', 80))(context);
            }
        }
    ],
    watch: {
        filters: [
            '_page.tpl',
            '*.less'
        ],
        events: [
            'addedFiles',
            'modifiedFiles'
        ]
    }
};


